<p style="color: green"><%= notice %></p>

<h1>Miembros</h1>

<div id="miembros">
  <% @miembros.each do |miembro| %>
    <%= render miembro %>
    <p>
      <%= link_to "Show this miembro", miembro %>
    </p>
  <% end %>
</div>

<%= link_to "New miembro", new_miembro_path %>
